@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    background-image: linear-gradient(to bottom left, black, rgb(54, 52, 71));
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0; /* Add this to remove default body margin */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

table {
    min-width: 250px;
    margin-top: 30px;
    border-spacing: 10px;
}

button {
    color: white;
    font-size: 2rem;
    border: solid 1px white;
    text-align: center;
    vertical-align: middle;
    min-width: 80px;
    min-height: 100px;
    background-color: rgb(3, 0, 31);
    transition: 200ms ease-in-out;
}

button:hover {
    background-color: rgb(15, 10, 63);
}

.result {
    font-size: 3rem;
}

#ac-button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    width: 100%;
    background-color: rgb(61, 61, 61);
    transition: 200ms ease-in-out;
}

#ac-button:hover {
    background-color: rgb(99, 65, 65);
}

h5 {
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    button {
        font-size: 6vw;
        min-width: 50px;
        min-height: 80px;
    }
    .result {
        font-size: 8vw;
    }
}

@media (max-width: 300px) {
    button {
        font-size: 6vw;
        min-width: 40px;
        min-height: 70px;
    }
    .result {
        font-size: 8vw;
    }
    #ac-button {
        font-size: 6vw;
    }
}